<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<h1>Подключаем главную страницу проекта
</h1>
<ul>
    <li><a href="{% url 'elements:orders' %}">Заказы</a></li>
    <li><a href="">Документы</a></li>
    <li><a href="">Изображения</a></li>
    <li><a href="">Программное обеспечение</a></li>
    <li><a href="">Файловое хранилище</a></li>

<!--    <li><a href="">Добавить изображения</a></li>-->
<!--    <li><a href="">Просмотр галлереи</a></li>-->
</ul>
<!--<ul>-->
<!--    <li><a href="">Добавить изображение</a></li>-->
<!--    <li><a href="">Добавить изображения</a></li>-->
<!--    <li><a href="">Просмотр галлереи</a></li>-->
<!--</ul>-->
<!--<ul>-->
<!--    <li><a href="">Добавить документ</a></li>-->
<!--    <li><a href="">Добавить документы</a></li>-->
<!--    <li><a href="">Просмотр галлереи</a></li>-->
<!--</ul>-->
<!--<ul>-->
<!--    <li><a href="{% url 'elements:upItem' %}">Добавить элемент</a></li>-->
<!--    <li><a href="{% url 'elements:showItem' %}">Просмотр галлереи</a></li>-->
<!--</ul>-->
<!--<ul>-->
<!--    <li><a href="">Добавить заказ</a></li>-->
<!--    <li><a href="">Просмотр галлереи</a></li>-->
<!--</ul>-->
<!--<ul>-->
<!--    <li><a href="">Добавить ПО</a></li>-->
<!--    <li><a href="">Просмотр галлереи</a></li>-->
<!--</ul>-->

</body>
</html>