<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        .pic{
        display:inline-block;
        }
    </style>
</head>
<body>
<h1>{{ title }}</h1>
<ul>
    {% for comp in components %}
    <li>
        <h3>{{ comp.name }}</h3> {{ comp.comment }} {{ comp.update }} {{ comp.contract }}
        {% if comp.docs.all %}
        <br> Документы:
        {% endif %}
        <ul>
            {% for doc in comp.docs.all %}
            <li>
                {{ doc.name }}
            </li>
            {% endfor %}

        </ul>
        {% if comp.images.all %}
        Изображения: <br>
        {% endif %}
        {% for pic in comp.images.all %}
        <div class="pic">

            <img width="189" height="255" src="{{ pic.picture.url }}">


        </div>
        {% endfor %}
    </li>
    {% endfor %}
</ul>
<!--Создать заказ-->
<div><a href="{% url 'elements:add_order' %}">Создать заказ</a></div>
<div>
    <a href="{% url 'mainpage:index' %}">Главная страница</a>
</div>
</body>
</html>