<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doclist</title>
</head>
<body>
<h1>Список документов</h1>
<ul>
        {% for doc in docs %}
            <li>
                {{ doc.name }} {{ doc.comment }} {{ doc.update }}
            </li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
      <div>
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">Предыдущий</a>
        {% endif %}
        <span>Страница {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Следующий</a>
        {% endif %}
      </div>
    {% endif %}
</body>
</html>